# Vehicle Loan Default

In [1]:
# !pip install numpy
# !pip install pandas
# !pip install scikit-learn
# !pip install dask
# !pip install matplotlib
# !pip install statsmodels
# !pip install seaborn
# !pip install sklearn

# Load Packages

In [31]:
import numpy as np
import pandas as pd
import re
import datetime as dt
from dateutil.relativedelta import relativedelta
import matplotlib.pyplot as plt
import os
import random
import seaborn as sns
import statsmodels.api as sm
from sklearn.metrics import roc_auc_score

random.seed(82122)

%matplotlib inline

# Read in Data

In [3]:
cwd = os.getcwd()

inputdir = "C:\\devl\\VehicleLoanDefault\\data"
outputdir = "C:\\devl\\VehicleLoanDefault\\output"

dat = pd.read_csv(inputdir + "\\train.csv", na_values = '?') #, nrows = 10000)
dat.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,...,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,...,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,09-12-77,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1

In [4]:
print(dat.shape)
print(dat.dtypes)

(233154, 41)
UniqueID                                 int64
disbursed_amount                         int64
asset_cost                               int64
ltv                                    float64
branch_id                                int64
supplier_id                              int64
manufacturer_id                          int64
Current_pincode_ID                       int64
Date.of.Birth                           object
Employment.Type                         object
DisbursalDate                           object
State_ID                                 int64
Employee_code_ID                         int64
MobileNo_Avl_Flag                        int64
Aadhar_flag                              int64
PAN_flag                                 int64
VoterID_flag                             int64
Driving_flag                             int64
Passport_flag                            int64
PERFORM_CNS.SCORE                        int64
PERFORM_CNS.SCORE.DESCRIPTION           object
PRI.NO.OF.ACCTS                          int64
PRI.ACTIVE.ACCTS                         int64
PRI.OVERDUE.ACCTS                        int64
PRI.CURRENT.BALANCE                      int64
PRI.SANCTIONED.AMOUNT                    int64
PRI.DISBURSED.AMOUNT                     int64
SEC.NO.OF.ACCTS                          int64
SEC.ACTIVE.ACCTS                         int64
SEC.OVERDUE.ACCTS                        int64
SEC.CURRENT.BALANCE                      int64
SEC.SANCTIONED.AMOUNT                    int64
SEC.DISBURSED.AMOUNT                     int64
PRIMARY.INSTAL.AMT                       int64
SEC.INSTAL.AMT                           int64
NEW.ACCTS.IN.LAST.SIX.MONTHS             int64
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS      int64
AVERAGE.ACCT.AGE                        object
CREDIT.HISTORY.LENGTH                   object
NO.OF_INQUIRIES                          int64
loan_default                             int64
dtype: object

In [5]:
dat['loan_default'].mean()

0.2170711203753742

### Drop seconary loan columns for now

In [6]:
dat = dat.drop(columns = [cols for cols in dat.columns if "SEC." in cols])

### Convert ID Columns to strings, drop PIN codes and employee codes

In [16]:
id_cols = [c for c in dat.columns if re.compile('id', re.IGNORECASE).search(c)]
id_cols.remove('VoterID_flag')
print(id_cols)

['UniqueID', 'branch_id', 'supplier_id', 'manufacturer_id', 'Current_pincode_ID', 'State_ID', 'Employee_code_ID']

In [18]:
dat[id_cols] = dat[id_cols].astype(str)

In [20]:
dat.drop(columns = ['Current_pincode_ID', 'Employee_code_ID'])

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Date.of.Birth,Employment.Type,DisbursalDate,...,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,01-01-84,Salaried,03-08-18,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,31-07-85,Self employed,26-09-18,...,27600,50200,50200,1991,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,24-08-85,Self employed,01-08-18,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,30-12-93,Self employed,26-10-18,...,0,0,0,31,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,09-12-77,Self employed,26-09-18,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233149,626432,63213,105405,60.72,34,20700,48,01-08-88,Salaried,26-10-18,...,390443,416133,416133,4084,0,0,1yrs 9mon,3yrs 3mon,0,0
233150,606141,73651,100600,74.95,34,23775,51,05-12-88,Self employed,23-10-18,...,0,0,0,1565,0,0,0yrs 6mon,0yrs 6mon,0,0
233151,613658,33484,71212,48.45,77,22186,86,01-06-76,Salaried,24-10-18,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
233152,548084,34259,73286,49.10,77,22186,86,26-03-94,Salaried,29-09-18,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
233153,630213,75751,116009,66.81,77,22186,86,18-02-84,Salaried,27-10-18,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0

### Convert Flags to binary

In [92]:
dat[dat['Date.of.Birth'].str.len() < 4 , 'Date.of.Birth']

InvalidIndexError: (0         False
1         False
2         False
3         False
4         False
          ...
233149    False
233150    False
233151    False
233152    False
233153    False
Name: Date.of.Birth, Length: 233154, dtype: bool, 'Date.of.Birth')

In [78]:
pd.isnull(dat['Date.of.Birth']).sum()

0

In [125]:
def datestring_to_age(datestring, fmt = '%d-%m-%y'):
    try:
        thing = dt.datetime.strptime(datestring, fmt)
        return dt.datetime.today() - thing
    except ValueError:
        print("not cool!" + datestring)

In [129]:
[datestring_to_age(x).days for x in dat['Date.of.Birth']]

[14112,
 13535,
 13511,
 10461,
 16326,
 11670,
 12499,
 12009,
 11237,
 -16721,
 15938,
 13862,
 17613,
 13884,
 18081,
 10274,
 16882,
 14420,
 12429,
 15467,
 15999,
 14053,
 10265,
 15788,
 12284,
 13381,
 -16783,
 17034,
 18240,
 19413,
 17764,
 11778,
 -15990,
 9519,
 16517,
 10547,
 13117,
 11555,
 16499,
 9501,
 19439,
 10787,
 14672,
 11769,
 16703,
 11857,
 10810,
 13230,
 17681,
 15316,
 13381,
 18746,
 12134,
 10305,
 13894,
 13850,
 10094,
 10646,
 17034,
 -15260,
 16873,
 16059,
 14112,
 18495,
 10094,
 13746,
 13746,
 11555,
 -16204,
 13746,
 14477,
 10094,
 -16204,
 15573,
 10824,
 12526,
 18129,
 13381,
 14427,
 13381,
 19225,
 19074,
 10746,
 16303,
 19439,
 9363,
 16303,
 8782,
 8579,
 14477,
 10267,
 8668,
 15938,
 10824,
 17243,
 14467,
 16303,
 -16569,
 11822,
 8944,
 16668,
 11920,
 10681,
 15480,
 16303,
 12285,
 15938,
 17034,
 14477,
 11920,
 16303,
 -16204,
 12328,
 10459,
 11555,
 12285,
 19590,
 18495,
 15308,
 15207,
 9970,
 12651,
 13016,
 13960,
 16668,
 8998,
 18495,
 14418,
 -14378,
 16668,
 14477,
 9729,
 12891,
 11251,
 15321,
 11844,
 13169,
 18180,
 12318,
 19590,
 11419,
 13352,
 11708,
 13854,
 15938,
 17806,
 18393,
 13527,
 14502,
 13809,
 16070,
 9383,
 17417,
 16786,
 9605,
 14842,
 10378,
 10473,
 16882,
 10676,
 14326,
 19066,
 9704,
 13577,
 12472,
 10499,
 15668,
 -15594,
 14187,
 -12703,
 12769,
 11456,
 17510,
 16150,
 16152,
 16843,
 13465,
 10811,
 12042,
 13520,
 -15575,
 16370,
 16627,
 13888,
 16467,
 10026,
 -16677,
 17764,
 12584,
 11859,
 12687,
 -15077,
 18407,
 -13685,
 14774,
 15573,
 15117,
 -16343,
 10661,
 10960,
 10846,
 -11864,
 13226,
 16954,
 13756,
 17034,
 19225,
 18860,
 -14487,
 10592,
 17399,
 10673,
 12865,
 10718,
 15056,
 -14378,
 13381,
 14174,
 9362,
 18930,
 -15108,
 10954,
 18902,
 -15512,
 17871,
 10143,
 14441,
 15738,
 16906,
 12651,
 13422,
 10238,
 12281,
 17978,
 15411,
 16152,
 11670,
 12604,
 10120,
 14842,
 -16569,
 10227,
 14236,
 -13282,
 15942,
 14348,
 14339,
 13117,
 14112,
 16084,
 15747,
 13960,
 13160,
 13611,
 9739,
 15572,
 10190,
 10673,
 16208,
 13348,
 14836,
 18007,
 18665,
 -12583,
 19044,
 15400,
 14489,
 10456,
 14842,
 15421,
 9866,
 -11972,
 16668,
 19074,
 -13856,
 15320,
 10679,
 -15205,
 10094,
 11333,
 14755,
 12256,
 9596,
 10977,
 14985,
 16684,
 13961,
 14326,
 14967,
 10574,
 -15839,
 10302,
 14223,
 10204,
 16763,
 16994,
 12694,
 -12675,
 11121,
 13264,
 15674,
 17978,
 16349,
 10234,
 13986,
 12300,
 9890,
 14842,
 14052,
 -16928,
 11442,
 -13068,
 17034,
 18343,
 16584,
 16753,
 14099,
 14873,
 15185,
 9943,
 -15359,
 13569,
 14462,
 10834,
 17320,
 17613,
 10585,
 10703,
 17067,
 -16120,
 10104,
 11755,
 15056,
 11383,
 13943,
 10907,
 11968,
 15573,
 16152,
 18343,
 14794,
 14233,
 12226,
 18709,
 12499,
 12945,
 16609,
 11382,
 9841,
 17489,
 11302,
 9899,
 9566,
 13377,
 12695,
 15290,
 -16028,
 10444,
 11422,
 14646,
 11987,
 13230,
 12786,
 10340,
 16026,
 15734,
 9763,
 16474,
 13800,
 -16355,
 9522,
 13965,
 18576,
 15108,
 13800,
 9080,
 12986,
 14922,
 -12286,
 -14655,
 11046,
 10041,
 16432,
 16303,
 13751,
 11327,
 18765,
 12100,
 -15625,
 17411,
 -16721,
 14811,
 18788,
 14477,
 -14516,
 -16204,
 10974,
 12556,
 17613,
 15556,
 14752,
 18709,
 13106,
 13595,
 15529,
 11390,
 17954,
 11404,
 13016,
 13381,
 15056,
 15766,
 17978,
 11151,
 14964,
 10478,
 10650,
 11279,
 12460,
 12865,
 9886,
 9212,
 19590,
 11054,
 -15474,
 13746,
 14477,
 11676,
 11678,
 15938,
 9768,
 11972,
 10905,
 14693,
 9577,
 9963,
 9577,
 17613,
 11530,
 11877,
 9464,
 11147,
 17978,
 9372,
 17399,
 10409,
 9635,
 10552,
 18129,
 9180,
 13016,
 9981,
 14467,
 16517,
 13714,
 17723,
 9378,
 15421,
 19225,
 18564,
 9462,
 -15240,
 9455,
 -16355,
 18495,
 11258,
 14842,
 15207,
 12134,
 10291,
 10192,
 16882,
 -15625,
 9201,
 14816,
 -16569,
 10199,
 17273,
 11038,
 13381,
 15421,
 12285,
 16685,
 18680,
 19064,
 9940,
 10586,
 11920,
 16668,
 10263,
 15576,
 17111,
 -16650,
 11438,
 13370,
 10700,
 9721,
 18704,
 15654,
 9605,
 16010,
 17361,
 11206,
 12651,
 14584,
 12074,
 13955,
 11028,
 17642,
 12073,
 11468,
 12902,
 15397,
 17978,
 16882,
 14473,
 13507,
 11095,
 -12881,
 14001,
 11212,
 -14894,
 11440,
 -14529,
 10819,
 15535,
 -14529,
 -14479,
 18899,
 10249,
 19257,
 -14743,
 18495,
 17399,
 -14651,
 13346,
 10136,
 14477,
 19135,
 10719,
 10486,
 11981,
 11124,
 14052,
 15207,
 10647,
 12778,
 19439,
 13281,
 16423,
 15692,
 10567,
 10961,
 13561,
 18978,
 15351,
 19439,
 -15708,
 12637,
 10474,
 14477,
 15648,
 17527,
 14463,
 -13923,
 9524,
 18862,
 16396,
 18509,
 13158,
 16816,
 10833,
 12651,
 9598,
 11008,
 15332,
 10911,
 17303,
 10171,
 -14164,
 10709,
 9497,
 12034,
 -16600,
 13695,
 15232,
 -16913,
 10953,
 15031,
 12974,
 10272,
 12106,
 16668,
 18587,
 16303,
 11190,
 -16355,
 13935,
 13186,
 13746,
 17764,
 16668,
 10419,
 -16355,
 16668,
 9463,
 19540,
 -14561,
 -16629,
 15293,
 10831,
 18146,
 11918,
 -13408,
 -16928,
 -14683,
 15325,
 12841,
 9386,
 9929,
 13404,
 10888,
 14858,
 10916,
 18860,
 10003,
 18495,
 15967,
 15464,
 10821,
 15016,
 9961,
 13942,
 -12703,
 17034,
 9450,
 11555,
 14842,
 16316,
 14129,
 15573,
 17034,
 11692,
 14458,
 16668,
 -15481,
 16083,
 -16569,
 9729,
 17034,
 -16569,
 19459,
 10824,
 15938,
 14842,
 11555,
 16303,
 17034,
 17240,
 11133,
 13700,
 14673,
 10289,
 -15474,
 15207,
 17034,
 14112,
 -15474,
 12446,
 18767,
 9939,
 -15108,
 13774,
 10459,
 -16204,
 -15260,
 9729,
 11483,
 12563,
 18860,
 -12917,
 11598,
 15938,
 19470,
 9960,
 10531,
 11118,
 18129,
 17091,
 14108,
 19225,
 12993,
 14477,
 11541,
 13746,
 11866,
 17034,
 18494,
 17034,
 10204,
 19044,
 13016,
 16320,
 12641,
 11861,
 9676,
 17329,
 11920,
 13602,
 10824,
 17764,
 12877,
 13714,
 19225,
 15032,
 -12186,
 16303,
 10459,
 13381,
 14842,
 15141,
 11798,
 14133,
 -15839,
 -15474,
 10903,
 17391,
 15938,
 -15660,
 18032,
 16756,
 16517,
 18495,
 14365,
 19555,
 19225,
 11732,
 12744,
 15938,
 12734,
 12153,
 15719,
 12641,
 11318,
 12098,
 10998,
 -16691,
 18860,
 15342,
 17034,
 12304,
 9969,
 15086,
 14474,
 14477,
 12499,
 17034,
 18495,
 9924,
 15420,
 14112,
 9993,
 15407,
 18370,
 9492,
 13016,
 -16569,
 15573,
 14063,
 12651,
 15451,
 -16013,
 13259,
 10094,
 13229,
 17194,
 14987,
 -15474,
 12317,
 18129,
 -12917,
 12285,
 17034,
 -15474,
 14204,
 16058,
 11920,
 10628,
 14159,
 11828,
 11857,
 11004,
 10542,
 12734,
 13622,
 9209,
 11255,
 9968,
 16037,
 13038,
 11275,
 10182,
 -13838,
 9515,
 10789,
 12796,
 9853,
 13436,
 18180,
 11419,
 14545,
 14477,
 9892,
 9116,
 -16239,
 17399,
 9990,
 14021,
 18820,
 11090,
 12347,
 10845,
 -15452,
 18129,
 -15744,
 12376,
 12192,
 14774,
 19190,
 17482,
 -14509,
 14738,
 11791,
 12869,
 17733,
 9597,
 -16044,
 12626,
 11800,
 12434,
 -14381,
 11094,
 17488,
 11173,
 15041,
 12224,
 12342,
 15412,
 10768,
 13706,
 14112,
 14112,
 12271,
 16668,
 12541,
 15199,
 14773,
 17886,
 15586,
 13259,
 15038,
 14615,
 14074,
 10031,
 12933,
 12837,
 13623,
 10365,
 14348,
 9295,
 10867,
 11920,
 10338,
 16668,
 8071,
 10512,
 16983,
 12790,
 18494,
 13586,
 11027,
 14823,
 9602,
 12285,
 10368,
 17990,
 10667,
 10824,
 10367,
 -15263,
 18340,
 11370,
 17245,
 11778,
 12560,
 12902,
 16212,
 11463,
 9909,
 13219,
 14688,
 15387,
 10002,
 -15628,
 -16724,
 10367,
 13227,
 -13863,
 15464,
 11097,
 -16614,
 11026,
 18706,
 17217,
 11323,
 14112,
 16159,
 14688,
 11085,
 15784,
 13227,
 13988,
 14842,
 11828,
 17640,
 11091,
 10034,
 17934,
 12872,
 13623,
 17549,
 18342,
 18095,
 13291,
 15065,
 13381,
 -15108,
 9865,
 -13647,
 16243,
 9577,
 -16358,
 14688,
 16121,
 15573,
 10002,
 -13245,
 9169,
 10823,
 16059,
 15388,
 15573,
 -15991,
 15811,
 14595,
 13226,
 17399,
 16180,
 10305,
 -16785,
 -15628,
 11549,
 17978,
 19096,
 13889,
 9624,
 12461,
 10274,
 14688,
 18371,
 13715,
 13381,
 -16751,
 16149,
 -15839,
 12424,
 17519,
 11787,
 15723,
 17550,
 -15324,
 -12917,
 13652,
 -14743,
 15115,
 11920,
 9273,
 14992,
 19225,
 -16666,
 14630,
 14719,
 18433,
 9271,
 -16021,
 11036,
 12138,
 15419,
 -13497,
 14772,
 ...]

In [130]:
dat['Date.of.Birth'].head(15)

0     01-01-84
1     31-07-85
2     24-08-85
3     30-12-93
4     09-12-77
5     08-09-90
6     01-06-88
7     04-10-89
8     15-11-91
9     01-06-68
10    01-01-79
11    07-09-84
12    01-06-74
13    16-08-84
14    18-02-73
Name: Date.of.Birth, dtype: object

In [76]:


# Convert DOB to age

# pd.to_datetime(dat['Date.of.Birth'])

dat['Date.of.Birth'] = [dt.datetime.strptime(x, '%y-%m-%d') for x in dat['Date.of.Birth']]
dat['Date.of.Birth'].head()
# now = dt.date.today()
# dat['Age'] = dat['Date.of.Birth'].apply(lambda x: now - dt.datetime.strptime(x, '%y-%m-%d'))

# Convert Disbursal Date to Loan age
# Investigate CNS score and description
# Investigate numbers of accounts - possibly convert to categorical
# Get ratios sanctioned:disbursed, (disbursed - current balance):current balance, 
# install amount:disbursed, install amount:current balance

ValueError: unconverted data remains: 4

In [68]:
dat['Age'].head()

KeyError: 'Age'

In [7]:
[cols for cols in dat.columns if dat[cols].dtype == np.int64]

['UniqueID',
 'disbursed_amount',
 'asset_cost',
 'branch_id',
 'supplier_id',
 'manufacturer_id',
 'Current_pincode_ID',
 'State_ID',
 'Employee_code_ID',
 'MobileNo_Avl_Flag',
 'Aadhar_flag',
 'PAN_flag',
 'VoterID_flag',
 'Driving_flag',
 'Passport_flag',
 'PERFORM_CNS.SCORE',
 'PRI.NO.OF.ACCTS',
 'PRI.ACTIVE.ACCTS',
 'PRI.OVERDUE.ACCTS',
 'PRI.CURRENT.BALANCE',
 'PRI.SANCTIONED.AMOUNT',
 'PRI.DISBURSED.AMOUNT',
 'PRIMARY.INSTAL.AMT',
 'NEW.ACCTS.IN.LAST.SIX.MONTHS',
 'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS',
 'NO.OF_INQUIRIES',
 'loan_default']